@page "/Help/Impressum"

<div>
  <h1>Impressum</h1>
  <div>
    <p>Diese Webseite ist nicht kommerziell. Sie dient ausschließlich den Arbeitsabläufen im Naturschutzprojekt "Gelbbauchunken im Donaustaufer und Kreuther Forst".</p>
    <p>Verantwortlich im Sinne des Presserechts:</p>
    <p>
      Hr. Franz Häring<br />
      Kreuzhofstr. 59<br />
      93073 Neutraubling<br />
      Deutschland<br />
      Telefon: +49 (0)9401-911031<br />
      E-Mail: <a href="mailto:f.x.haering@gmail.com">f.x.haering@gmail.com</a>
    </p>
  </div>
</div>

@code {
}
