@using System
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components

@inherits ImageSurveyorComponent
@implements System.IDisposable

<div @ref="divMain" style="@Style">
</div>

@code {
}