@page "/Map"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject IJSRuntime JSRuntime

<div id="googleMap" style="height:1000px;width:100%;">
</div>
<button @onclick="()=>OnEditClick()">@Localize["Edit AOI"]</button>

@code{

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await JSRuntime.InvokeVoidAsync("InitMap", null);
      await JSRuntime.InvokeVoidAsync("InitPlaces", Newtonsoft.Json.JsonConvert.SerializeObject(DS.AllPlaces));
      await JSRuntime.InvokeVoidAsync("InitAoiBounds", System.IO.File.ReadAllText(DS.DataDir + "conf/aoi.json"));
      StateHasChanged();
    }
  }

  private async void OnEditClick()
  {
    var sAoiBounds = await JSRuntime.InvokeAsync<string>("ToggleEditAoiBounds");
    if (sAoiBounds != null)
    {
      System.IO.File.WriteAllText(DS.DataDir + "conf/aoi.json", sAoiBounds);
    }
  }
}