@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
  <NavMenu />
</div>

<div class="main">
  <div class="top-row px-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <IndiFilter />
        </div>
        <div class="col">
          <PlaceFilter />
        </div>
      </div>
    </div>
  </div>
  <div class="content px-4">
    @Body
  </div>
</div>
