@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@using BioMap

<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">BioMap</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <BlazoredMenu MenuBuilder="@MenuBuilder" Css="navmenu-biomap" />
</div>

@code {
  private bool collapseNavMenu = true;
  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
  private void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }

  MenuBuilder MenuBuilder = new MenuBuilder();

  protected override void OnInitialized() {
    MenuBuilder.AddItem(100,Localize["Home"],"/",match: NavLinkMatch.All)
               .AddItem(200,Localize["Map"],"/Map",isEnabled: true)
               .AddSubMenu(300,Localize["Add"],new MenuBuilder()
               .AddItem(1,Localize["Image"],"/Add/Image")
               )
               .AddSubMenu(400,Localize["Lists"],new MenuBuilder()
               .AddItem(100,Localize["All Elements"],"/Lists/AllElements")
               .AddItem(200,Localize["All Individuals"],"/Lists/AllIndividuals")
               .AddItem(300,Localize["All Images"],"/Lists/AllImages")
               .AddItem(400,Localize["ID Cards by Places"],"/Lists/IdCardsByPlaces")
               .AddItem(500,Localize["ID Cards"],"/Lists/IdCards")
               .AddItem(600,Localize["Log"],"/Lists/Log")
               .AddItem(700,Localize["Notes"],"/Lists/Notes")
               )
               .AddSubMenu(500,Localize["Diagrams"],new MenuBuilder()
               .AddItem(100,Localize["Length / Time Chart"],"/Charts/SizeTimeChart")
               .AddItem(200,Localize["Frequency by Place / Time Chart"],"/Charts/FrequencyByPlace")
               .AddItem(300,Localize["Numbers / Year of Birth Chart"],"/Charts/NumberYoBChart")
               .AddItem(400,Localize["Summary"],"/Charts/Summary")
               )
               .AddSubMenu(600,Localize["Statistics"],new MenuBuilder()
               .AddItem(100,Localize["Summary"],"/Statistics/Summary")
               .AddItem(200,Localize["ByCategories"],"/Statistics/ByCategories")
               )
               .AddItem(900,Localize["Impressum"],"/Impressum")
               ;
  }
}
