@page "/"
@namespace BioMap.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BioMap</title>
  <base href="~/" />
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
  <link href="css/site.css" rel="stylesheet" />
  <!-- -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj_oZeq6z3BnWFtE2Fwmh8RmquS5ar5xA&libraries=geometry"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript" src="lib/exif-js/exif.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="lib/c3/c3.css">
  <script language="javascript" type="text/javascript" src="lib/glmatrix/gl-matrix-min.js"></script>
  <script language="javascript" type="text/javascript" src="lib/d3/d3.js"></script>
  <script language="javascript" type="text/javascript" src="lib/c3/c3.js"></script>
  <script language="javascript" type="text/javascript" src="lib/fhlib/fhutils.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/usermgt.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/element.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/place.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/preppic.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/identify.js"></script>
  <script language="javascript" type="text/javascript" src="scripts/geolocation.js"></script>
  <!-- Reference the included moment.js javascript file. -->
  <script src="_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>

  <!-- Reference the included ChartJs javascript file. -->
  <script src="_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>

  <!-- This is the glue between the C# code and the ChartJs charts -->
  <script src="_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>

  <!-- Some styling -->
  <link rel="stylesheet" href="_content/ChartJs.Blazor/ChartJSBlazor.css" />
</head>
<body>
  <app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
  </app>

  <div id="blazor-error-ui">
    <environment include="Staging,Production">
      An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
      An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
  </div>

  <dialog id="imgUploadDialog">
    <content>
      <div>
        <h3 style="text-align: center;">Fotos werden hochgeladen</h3>
      </div>
      <table id="imgUploadTable">
        <thead>
          <tr>
            <th>Datei</th>
            <th>Ergebnis</th>
          </tr>
        </thead>
      </table>
      <div>
        <button type="button" style="float: right;" onclick="document.getElementById('imgUploadDialog').close()">Schließen</button>
      </div>
    </content>
  </dialog>
  <script src="_framework/blazor.server.js"></script>
  <script>
    function UploadImageFiles_Init(idInput, idUploadUI) {
      //alert("UploadImageFiles_Init(" + idInput + "," + idUploadUI + ") called.");
      document.getElementById(idInput).addEventListener('change', UploadImageFiles, false);
    }
    function UploadImageFiles_Click(idInput) {
      document.getElementById(idInput).click();
    }
    function UploadImageFiles(evt) {
      //alert("UploadImageFiles() called.");
      const files = evt.target.files; // FileList object
      for (var iFile = 0; iFile < files.length; iFile++) {
        try {
          var file = files[iFile];
          if (file) {
            // Send selected file.
            const formData = new FormData();
            formData.append('files[]', file);
            CurrentUser.ApiCall('/api/photos', {
              method: 'POST',
              body: formData
            }, [
            ])
              .then((response) => {
                response.text().then(function (text) {
                  //uploadElement(element);
                  //PicMapElementMgr.CreateMapMarker(element);
                  console.log(text);
                });
              })
              .catch((error) => {
                alert("Fehler: " + error);
              });
          } else {
            alert("Datei konnte nicht geladen werden.");
          }
        } catch (e) {
          alert("Exception: " + e);
        }
      }
    }
  </script>
</body>
</html>
