@page "/Map"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject SessionData SD
@inject IJSRuntime JSRuntime

<div id="googleMap" style="height:1000px;width:100%;">
</div>
@if (SD.CurrentUser.Level>=700) {
  <Button Color="Color.Primary" @onclick="() => OnEditClick()">@Localize["Edit AOI"]</Button>
}

@code{

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender) {
      await JSRuntime.InvokeVoidAsync("InitMap",null);
      if (SD.CurrentUser.Level>=400) {
        await JSRuntime.InvokeVoidAsync("InitPlaces",Newtonsoft.Json.JsonConvert.SerializeObject(DS.AllPlaces));
      }
      await JSRuntime.InvokeVoidAsync("InitAoiBounds",System.IO.File.ReadAllText(DS.DataDir + "conf/aoi.json"));
      StateHasChanged();
    }
  }

  private async void OnEditClick() {
    var sAoiBounds = await JSRuntime.InvokeAsync<string>("ToggleEditAoiBounds");
    if (sAoiBounds != null) {
      System.IO.File.WriteAllText(DS.DataDir + "conf/aoi.json",sAoiBounds);
    }
  }
}