@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject SessionData SD

<div class="sidebar">
  <NavMenu />
</div>

<div class="main">
  <div class="top-row px-5">
    <div class="container">
    </div>
  </div>
  <div class="content px-4">
    @Body
  </div>
</div>
