@page "/lists/id_cards"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@inject DataService DS
@inject IJSRuntime JSRuntime
@using BioMap

<h1>@Localize["ID Cards"]</h1>

<div class="row">
  @foreach (var el in Elements) {
    <div class="card" style="width: 240px;">
      <img class="card-img-top" src="api/photos/@el.ElementName?width=240" style="max-width:100%;max-height:100%;margin-top:1px;" />
      <div class="card-footer">
        <small><b>@el.GetIId()</b> (@el.GetIsoDate()/@el.GetGender()/@el.GetHeadBodyLengthMm().ToString("0.0"))</small>
      </div>
    </div>
  }
</div>

@code {
  private Element[] Elements = DataService.Instance.GetElements("indivdata.iid>=1","indivdata.iid ASC,elements.creationtime ASC");
}
