@page "/Maps/Individuals"
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@inherits ElementMap

<PhotoPopup @ref="PhotoPopup1" />

<div class="box">
  <div class="row header">
    <FilterSettings FilteringTarget="@Filters.FilteringTargetEnum.Individuals" />
  </div>
  <div class="row content">
    <Row>
      <Column>
        <MapSettings AreaMap="this" ShowConnectorSwitch="false" />
      </Column>
    </Row>
    <Row Style="height:100%;">
      <Column>
        <GoogleMap @ref="@googleMap" Id="googleMap" Options="@mapOptions" Height="100%"></GoogleMap>
      </Column>
    </Row>
    <Row>
      <Column Margin="Margin.Is4.FromStart">
        <TimeIntervalSlider @ref="this.TimeIntervalSlider1" AnyChanged="this.TimeIntervalSlider1_AnyChanged" HideIntervalSelection="true" PlayDelayMs="500" />
      </Column>
    </Row>
  </div>
</div>
